@import '../variables.scss';

.collapse{
    /* CSS BOX */
    max-width: 85%;
    margin: 20px auto;
    @media screen and (max-width: 700px){
        max-width: 90%;
    }
    &__title{
        /* CSS BOX */
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        border-radius: 10px;
        padding: 10px 15px;
        @media screen and (max-width: 700px){
            padding: 5px 8px;
        }
        /* CSS TEXT STYLES */
        font-family: $font-family;
        color: $color-text;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        @media screen and (max-width: 700px){
            font-size: 18px;
        }
        /* CSS ARROWS TRANSITION */
        .arrow{
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            @media screen and (max-width: 700px){
                width: 5%;
            }
        }
        .arrow_up{
            transform: rotate(-180deg);
        }
        .arrow_down{
            transform: rotate(0deg);
        }
    }
    &__content--open{
        /* CSS BOX */
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: $color-background;
        border-radius: 0px 10px;
        padding: 20px;
        transition: padding-top 0.2s linear;
        /* CSS TEXT STYLES */
        font-family: $font-family;
        color: $color-primary;
        font-size: 18px;
        line-height: 30px; 
    }
}