@import "../variables.scss";

.accommodation__contentHostRatings--host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &--title{
        display: flex;
        flex-direction: column;
        text-align:right;
        font-family: $font_family;
        color: $color-primary;
        font-weight:500;
        font-size:18px;
    }
    &--picture{
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}