@import "../variables.scss";

.accommodation__contentInfos{
    display: flex;
    flex-direction: column;
    &--title{
    /* CSS TEXT STYLES */
    font-size: 36px;
    }
    &--location{
        
        padding-top: 5px;
        /* CSS TEXT STYLES */
        font-size: 18px;
    }
}