@import "../variables.scss";

.accommodation{ 
    /* CSS BOX */
    width: 90%;
    margin: 15px auto;
    /* CSS TEXT STYLES */
    color: $color-primary;
    font-family: $font-family;
    &__content{
        /* CSS BOX */
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
    }
    &__contentTagsRatings{
        /* CSS BOX */
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }
}

.collapse__accommodation{
    /* CSS BOX */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto; 
    &--content{
        width: 100%;
    }
}
