@import "../variables.scss";

.accommodation{ 
    /* CSS BOX */
    width: 90%;
    margin: 15px auto;
    /* CSS TEXT STYLES */
    color: $color-primary;
    font-family: $font-family;
    &__content{
        /* CSS BOX */
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
    }
    &__contentTagsRatings{
        /* CSS BOX */
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        &--tags{
            /* CSS BOX */
            display: flex;
            flex-wrap: wrap;
            gap: 10px;  
            &--btn{
                /* CSS BOX */
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                background-color: $color-primary;
                /* CSS TEXT STYLES */
                font-family: $font-family;
                color: $color-text;
                &:hover{
                    /* CSS BOX */
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
        }
    }
}

.collapse__accommodation{
    /* CSS BOX */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto; 
    &--content{
        width: 100%;
    }
}
