@import "../styles/variables.scss";
    
.not_found{
    max-width: 95%;
    margin: 0 auto;
    font-family: $font-family;
    color: $color-primary;
    &__infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-weight: 700;
        font-size: 250px;
    }
    &__content{
        font-weight: 500;
        font-size: 36px;
        text-align: center;
        padding: 60px 0;
    }
    &__return{
        display: block;
        text-align: center;
        font-family: $font-family;
        color: $color-primary;
        font-weight: 500;
        font-size: 18px;
    }
}